[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/home/minecraftuser/minecraftdir

User=minecraftuser
Group=minecraftuser
Restart=always
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true

ExecStart=sh /home/minecraftuser/minecraftdir/start_minecraft.sh

[Install]
WantedBy=multi-user.target