[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/home/minecraftuser/minecraftdir

User=minecraftuser
Group=minecraftuser
Restart=always

ExecStart=sh /home/minecraftuser/minecraftdir/start_minecraft.sh

[Install]
WantedBy=multi-user.target