
[Unit]
Description=Deprovision the minecraft server when inactive

[Service]
WorkingDirectory=/home/minecraftuser
User=minecraftuser

KillMode=process
KillSignal=SIGINT

ExecStart=/bin/bash ./deprovision.sh

[Install]
WantedBy=multi-user.target
