
[Unit]
Description=Deprovision the minecraft server when inactive

[Service]
WorkingDirectory=/home/minecraftuser

User=root
KillMode=process
KillSignal=SIGINT

ExecStart=/bin/bash ./deprovision.sh

[Install]
WantedBy=multi-user.target
