
[Unit]
Description=Minecraft Server

[Service]
WorkingDirectory=/home/minecraftuser
#User=minecraftuser

KillMode=process
KillSignal=SIGINT

ExecStart=/bin/bash start-minecraft.sh

[Install]
WantedBy=multi-user.target
